body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info {
    flex: 1;
}

.info h2 {
    font-size: 40px;
}

.info p {
    font-size: 1.2em;
    color: gray;
}

form {
    margin-top: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 85%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

textarea {
    resize: none;
    height: 60px;
}

.image {
    flex: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-width: 100%;
    border-radius: 5px;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #00e5ff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #00b3cc;
}
